# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
**/out/

# IDEs
.idea/
!.idea/icon.svg
*.iml
*.ipr
*.iws
*.class

# Kotlin/Java
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar

# OS junk
.DS_Store
Thumbs.db

# Local configs
local.properties
gradle.properties

# Maven local test artifacts
.mvn/
target/
